body{
  background: #dadada;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.title{
    color: #dadada;
    text-align: center;
    font-size: 25px;
}

input[type="text"]{
  border: none;
  color: #a5a2a2;
  background: #f0f0f0;
  padding: 5px 15px;
  font-size: 20px;
  width: 90%;
  box-sizing: border-box;
}
input[type="submit"]{
  border: none;
  color: #f0f0f0;
  background: #848484;
  padding: 5px 15px;
  font-size: 20px;
  transition: 0.3s all linear;
  width: 10%;
  box-sizing: border-box;
}

input[type="submit"]:hover{
  color: #fff;
  background: #b4b4b4;
}

.marvel{
  margin: 20px auto;
  text-align: center;
  width: 80%;
}
.character{
  text-align: left;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 3fr;
}
.character:nth-of-type(1){
  margin-top: 10px;
}
.character>img{
  width: 20vw;
}
.bio{
  padding: 20px;
  background: #393838;
  box-sizing: border-box;
  color: #848484;
  max-height: 20vw;
  border-top: 1px solid #4e4e4e;
}
.bio:nth-of-type(1){
  border: none;
}
.name{
  font-size: 16px;
  font-style: oblique;
  color: #b3b3b3;
}
.thumb{
  width: 20vw;
  background-size: cover;
  height: 20vw;
}
.noresults{
  margin: 0 0 10px;
  margin-top: 0px;
  color: #dadada;
  font-size: 20px;
  margin-top: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #959595;
}
